<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PropertiesDB" 
         connectionString="metadata=res://*/Repository.csdl|res://*/Repository.ssdl|res://*/Repository.msl;provider=System.Data.SqlClient;
          provider connection string=&quot;
          Data Source=SERVER\SQLEXPRESS;
          Initial Catalog=Properties2;
          Persist Security Info=True;
          User ID=dev;
          Password=dev;
          MultipleActiveResultSets=True&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>