@model UtahPlanners.MVC3.Models.User.ChangePassword

@Html.HiddenFor(m => m.Username)

@if (Model.ChangePasswordResult.HasValue)
{
    if (Model.ChangePasswordResult.Value)
    {
        <p>Password reset successfully.</p>
    }
    else
    {
        <p>Unable to change password.  Please check your credentials and try again.</p>
    }
}
else
{ 
<table cellspacing="0" 
    cellpadding="1" 
    border="0" 
    style="background-color:#F7F7DE;
        border-color:#CCCC99;
        border-width:1px;
        border-style:Solid;
        border-collapse:collapse;">
	<tbody>
        <tr>
		    <td>
                <table cellpadding="0" border="0" style="font-family:Verdana;font-size:10pt;">
			        <tbody>
                        <tr>
				            <td align="center" colspan="2" style="color:White;background-color:#6B696B;font-weight:bold;">Change Your Password</td>
			            </tr>
                        <tr>
				            <td align="right"><label>Password:</label></td>
                            <td>
                                @Html.PasswordFor(m => m.OldPassword)
                                <span title="Password is required." style="color:Red;visibility:hidden;">*</span>
                            </td>
			            </tr>
                        <tr>
				            <td align="right"><label>New Password:</label></td>
                            <td>
                                @Html.PasswordFor(m => m.NewPassword)
                                <span title="New Password is required." style="color:Red;visibility:hidden;">*</span>
                            </td>
			            </tr>
                        <tr>
				            <td align="right"><label>Confirm New Password:</label></td>
                            <td>
                                @Html.PasswordFor(m => m.ConfirmPassword)
                                <span title="Confirm New Password is required." style="color:Red;visibility:hidden;">*</span>
                            </td>
			            </tr>
                        <tr>
				            <td align="center" colspan="2"><span style="color:Red;display:none;">The Confirm New Password must match the New Password entry.</span></td>
			            </tr>
                        <tr>
				            <td align="right"><input type="submit" value="Change Password" /></td>
                            <td><input type="submit" value="Cancel" /></td>
			            </tr>
		            </tbody>
                </table>
            </td>
	    </tr>
    </tbody>
</table>
}
