@model UtahPlanners.MVC3.Models.User.ForgotPassword
@{
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
<table cellspacing="0" 
    cellpadding="1" 
    border="0" 
    style="background-color:#F7F7DE;
        border-color:#CCCC99;
        border-width:1px;
        border-style:Solid;
        border-collapse:collapse;">
	<tbody>
        <tr>
		    <td>
                <table cellpadding="0" border="0" style="font-family:Verdana;font-size:10pt;">
			        <tbody>
                        <tr>
				            <td align="center" colspan="2" style="color:White;background-color:#6B696B;font-weight:bold;">Forgot Your Password?</td>
			            </tr>
                        <tr>
				            <td align="center" colspan="2">Enter your User Name to receive your password.</td>
			            </tr>
                        <tr>
				            <td align="right">@Html.LabelFor(m => m.Username):</td>
                            <td>
                                @Html.TextBoxFor(m => m.Username)
                                <span title="User Name is required." style="color:Red;visibility:hidden;">*</span>
                            </td>
			            </tr>
                        <tr>
				            <td align="right" colspan="2"><input type="submit" value="Submit" /></td>
			            </tr>
		            </tbody>
                </table>
            </td>
	    </tr>
    </tbody>
</table>
}