@using UtahPlanners.MVC3.Models.Admin;
@model CreateTypeModel
@{
    ViewBag.Title = "CreateTypes";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

@using (Html.BeginForm("CreateTypes", "Admin", FormMethod.Post))
{ 
    <label for="type" class="builddetail">Type:</label>
    @Html.DropDownListFor(m => m.SelectedType, Model.TypeEnums)
    <br />
    <label for="description" class="builddetail">Description:</label>
    @Html.TextBoxFor(m => m.TypeDescription)<br />
    <label for="button1" class="builddetail">&nbsp;</label>
    <input type="submit" value="Submit" />
}