@using UtahPlanners.MVC3.Models.Admin;
@model CreateCodeModel
@{
    ViewBag.Title = "CreateCodes";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}
       
@using (Html.BeginForm("CreateCodes", "Admin", FormMethod.Post))
{
    
    <label for="codes" class="builddetail">Codes:</label>
    @Html.DropDownListFor(m => m.SelectedCode, Model.CodeEnums)<br />
    
    <label for="desc" class="builddetail">Description:</label>
    @Html.TextBoxFor(m => m.CodeDescription)<br />
    
    <label for="weigh" class="builddetail">Weight:</label>
    @Html.TextBoxFor(m => m.Weight)<br />
    
    <label for="Button1" class="builddetail">&nbsp;</label>
    <input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Submit" id="ctl00_ContentPlaceHolder1_Button1" />

}