@{
    ViewBag.Title = "CreateProperty";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

<h2>Create New Property</h2>
<br />

<h3>Address:</h3>
<span id="ctl00_ContentPlaceHolder1_lblStreet1" class="newproperty">Street1:</span>
<input name="ctl00$ContentPlaceHolder1$txtStreet1" type="text" id="ctl00_ContentPlaceHolder1_txtStreet1" class="newwidth"><br>

<span id="ctl00_ContentPlaceHolder1_lblStreet2" class="newproperty">Street2:</span>
<input name="ctl00$ContentPlaceHolder1$txtStreet2" type="text" id="ctl00_ContentPlaceHolder1_txtStreet2" class="newwidth"><br>

<span id="ctl00_ContentPlaceHolder1_lblCity" class="newproperty">City:</span>
<input name="ctl00$ContentPlaceHolder1$txtCity" type="text" id="ctl00_ContentPlaceHolder1_txtCity" class="newwidth"><br>

<span id="ctl00_ContentPlaceHolder1_lblState" class="newproperty">State:</span>
<input name="ctl00$ContentPlaceHolder1$txtState" type="text" id="ctl00_ContentPlaceHolder1_txtState" class="newwidth"><br>

<span id="ctl00_ContentPlaceHolder1_lblZip" class="newproperty">Zip:</span>
<input name="ctl00$ContentPlaceHolder1$txtZip" type="text" id="ctl00_ContentPlaceHolder1_txtZip" class="newwidth"><br>

<span id="ctl00_ContentPlaceHolder1_lblCountry" class="newproperty">Country:</span>
<input name="ctl00$ContentPlaceHolder1$txtCountry" type="text" id="ctl00_ContentPlaceHolder1_txtCountry" class="newwidth"><br><br>

<h3>General Attributes:</h3>
<span id="ctl00_ContentPlaceHolder1_lblDensity" class="newproperty">Density:</span>
<input name="ctl00$ContentPlaceHolder1$txtDensity" type="text" id="ctl00_ContentPlaceHolder1_txtDensity" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator2" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator2" style="color:Red;display:none;">This is a required field</span><br>

<span id="ctl00_ContentPlaceHolder1_lblArea" class="newproperty">Area:</span>
<input name="ctl00$ContentPlaceHolder1$txtArea" type="text" id="ctl00_ContentPlaceHolder1_txtArea" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator1" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator3" style="color:Red;display:none;">This is a required field</span><br>

<span id="ctl00_ContentPlaceHolder1_lblUnits" class="newproperty">Units:</span>
<input name="ctl00$ContentPlaceHolder1$txtUnits" type="text" id="ctl00_ContentPlaceHolder1_txtUnits" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator3" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator6" style="color:Red;display:none;">This is a required field</span>
<br>

<span id="ctl00_ContentPlaceHolder1_lblYearBuilt" class="newproperty">Year Built:</span>
<input name="ctl00$ContentPlaceHolder1$txtYearBuilt" type="text" id="ctl00_ContentPlaceHolder1_txtYearBuilt" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator4" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator1" style="color:Red;display:none;">This is a required field</span><br>

<span id="ctl00_ContentPlaceHolder1_lblWalkscore" class="newproperty">Walkscore:</span>
<input name="ctl00$ContentPlaceHolder1$txtWalkscore" type="text" id="ctl00_ContentPlaceHolder1_txtWalkscore" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator5" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator5" style="color:Red;display:none;">This is a required field</span><br>

<span id="ctl00_ContentPlaceHolder1_lbl250sf" class="newproperty">250 Single Fam:</span>
<input name="ctl00$ContentPlaceHolder1$txt250sf" type="text" id="ctl00_ContentPlaceHolder1_txt250sf" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator6" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator7" style="color:Red;display:none;">This is a required field</span><br>

<span id="ctl00_ContentPlaceHolder1_lbl250apts" class="newproperty">250 Apartments:</span>
<input name="ctl00$ContentPlaceHolder1$txt250apts" type="text" id="ctl00_ContentPlaceHolder1_txt250apts" class="newwidth">
<span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator7" style="color:Red;display:none;">Please enter in a numeric value</span>
<span id="ctl00_ContentPlaceHolder1_RequiredFieldValidator8" style="color:Red;display:none;">This is a required field</span><br>

<span id="ctl00_ContentPlaceHolder1_lblPropertyType" class="newproperty">Property Type:</span>
<select name="ctl00$ContentPlaceHolder1$drpProptertyType" id="ctl00_ContentPlaceHolder1_drpProptertyType" class="newwidth">
	<option value="2">Apartment Complex</option>
	<option value="3">Townhouse (with carport)</option>
	<option value="4">Townhouse (with garage)</option>
	<option value="5">Mixed Use</option>
	<option value="7">Twin Home</option>
	<option value="10">Stacked Flat</option>
	<option value="11">Multiple Type Development</option>
	<option value="12">Other </option>
	<option value="13">"3 Plex" Type</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblStreetType" class="newproperty">Street Type:</span>
<select name="ctl00$ContentPlaceHolder1$drpStreetType" id="ctl00_ContentPlaceHolder1_drpStreetType" class="newwidth">
	<option value="2">Contemporary Single Family</option>
	<option value="3">Arterial</option>
	<option value="4">Collector (More-Walkable)</option>
	<option value="5">Collector (Less-Walkable)</option>
	<option value="6">Grid Based Street-Fine</option>
	<option value="7">Grid Based Street-Loose</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblSocioEcon" class="newproperty">Socio-Econ:</span>
<select name="ctl00$ContentPlaceHolder1$drpSocioEcon" id="ctl00_ContentPlaceHolder1_drpSocioEcon" class="newwidth">
	<option value="2">Above-Average</option>
	<option value="3">Average</option>
	<option value="4">Below-Average</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblStreetSaftey" class="newproperty">Street Saftey:</span>
<select name="ctl00$ContentPlaceHolder1$drpStreetSaftey" id="ctl00_ContentPlaceHolder1_drpStreetSaftey" class="newwidth">
	<option value="1">Unknown</option>
	<option value="2">Above-Average</option>
	<option value="3">Below Average</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblBuildingEnclosure" class="newproperty">Building Enclosure:</span>
<select name="ctl00$ContentPlaceHolder1$drpBuildingEnclosure" id="ctl00_ContentPlaceHolder1_drpBuildingEnclosure" class="newwidth">
	<option value="1">Unknown</option>
	<option value="2">Enclosing</option>
	<option value="3">Semi-Enclosing</option>
	<option value="4">Minimal-Enclosing</option>
	<option value="5">Not Enclosing</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblCommonAreas" class="newproperty">Common Areas:</span>
<select name="ctl00$ContentPlaceHolder1$drpCommonAreas" id="ctl00_ContentPlaceHolder1_drpCommonAreas" class="newwidth">
	<option value="1">Unknown</option>
	<option value="2">Excellent</option>
	<option value="3">Good</option>
	<option value="4">Fair</option>
	<option value="5">Poor</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblStreetConn" class="newproperty">Street Connectivity:</span>
<select name="ctl00$ContentPlaceHolder1$drpStreetConn" id="ctl00_ContentPlaceHolder1_drpStreetConn" class="newwidth">
	<option value="2">Open</option>
	<option value="3">Semi-Open</option>
	<option value="4">Closed</option>
	<option value="5">On Street</option>

</select><br>
        
<span id="ctl00_ContentPlaceHolder1_lblStreetWalk" class="newproperty">Street Walkability:</span>
<select name="ctl00$ContentPlaceHolder1$drpStreetWalk" id="ctl00_ContentPlaceHolder1_drpStreetWalk" class="newwidth">
	<option value="2">Excellent</option>
	<option value="3">Good</option>
	<option value="4">Fair</option>
	<option value="5">Poor</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblNeighCond" class="newproperty">Neighborhood Cond:</span>
<select name="ctl00$ContentPlaceHolder1$drpNeighCond" id="ctl00_ContentPlaceHolder1_drpNeighCond" class="newwidth">
	<option value="2">Excellent</option>
	<option value="3">Good</option>
	<option value="4">Fair</option>
	<option value="5">Poor</option>

</select><br>

<span id="ctl00_ContentPlaceHolder1_lblNotes" class="newproperty">Notes:</span>
<textarea name="ctl00$ContentPlaceHolder1$txtNotes" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtNotes" style="height:100px;width:400px;"></textarea><br><br>

<h3>Hidden Attributes:</h3>
<span id="ctl00_ContentPlaceHolder1_lblAdminNotes" class="newproperty">Admin Notes:</span>
<textarea name="ctl00$ContentPlaceHolder1$txtAdminNotes" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtAdminNotes" style="height:100px;width:400px;"></textarea><br>

<span id="ctl00_ContentPlaceHolder1_lblWalkscoreNotes" class="newproperty">Walkscore Notes:</span>
<textarea name="ctl00$ContentPlaceHolder1$txtWalkscoreNotes" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtWalkscoreNotes" style="height:100px;width:400px;"></textarea><br>

<span id="ctl00_ContentPlaceHolder1_lblNotFinished" class="newproperty">Not Finished:</span>
<textarea name="ctl00$ContentPlaceHolder1$txtNotFinished" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtNotFinished" style="height:100px;width:400px;"></textarea><br><br>

<h3>Pictures:</h3><br>
<input type="checkbox" id="checkbox1"><label for="checkbox1">Primary Image</label><br>
<input type="checkbox" id="checkbox2"><label for="checkbox2">Secondary Image</label><br>
<input type="checkbox" id="checkbox3"><label for="checkbox3">Front Page</label><br>
    

<!-- File Upload Control -->
    <input id="fileInput" name="fileInput" type="file" style="display: none; " width="110" height="30"><object type="application/x-shockwave-flash" data="../scripts/uploadify/uploadify.swf" width="110" height="30" id="fileInputUploader" style="visibility: visible; "><param name="quality" value="high"><param name="wmode" value="opaque"><param name="allowScriptAccess" value="sameDomain"><param name="flashvars" value="uploadifyID=fileInput&amp;pagepath=/Properties/&amp;script=../scripts/uploadify/Upload.ashx&amp;folder=../scripts/uploadify/&amp;scriptData=ASPSESSID%3Dl2lkvy1s2wz554pwpv0p4rqi%26AUTHID%3D981D3BFB635B57E6E8457C47CB6BAB6E97966E58B784FC653168A8E5B15C03E02A02CF57643E40D2FDA25C64C702E35383CEFAAEC0D7DBCDC635FF8301785E1DF87B521E6E4CBC4F393242DB7D77B9DF&amp;width=110&amp;height=30&amp;wmode=opaque&amp;method=POST&amp;queueSizeLimit=999&amp;simUploadLimit=1&amp;auto=true&amp;fileDataName=Filedata"></object><div id="fileInputQueue" class="uploadifyQueue"></div>
    <script type="text/javascript">
        // <![CDATA[

        $(document).ready(function () {

            var mainPicture = 0;
            var secondaryPicture = 0;
            var frontPage = 0;

            var auth = "981D3BFB635B57E6E8457C47CB6BAB6E97966E58B784FC653168A8E5B15C03E02A02CF57643E40D2FDA25C64C702E35383CEFAAEC0D7DBCDC635FF8301785E1DF87B521E6E4CBC4F393242DB7D77B9DF";
            var ASPSESSID = "l2lkvy1s2wz554pwpv0p4rqi";

            $("#checkbox1").click(function () {
                mainPicture = (mainPicture == 1) ? 0 : 1;
                $("#fileInput").uploadifySettings('scriptData',
                    { 'mainPicture': mainPicture, 'secondaryPicture': secondaryPicture, 'frontPage': frontPage });
            });
            $("#checkbox2").click(function () {
                secondaryPicture = (secondaryPicture == 1) ? 0 : 1;
                $("#fileInput").uploadifySettings('scriptData',
                { 'mainPicture': mainPicture, 'secondaryPicture': secondaryPicture, 'frontPage': frontPage });
            });
            $("#checkbox3").click(function () {
                frontPage = (frontPage == 1) ? 0 : 1;
                $("#fileInput").uploadifySettings('scriptData',
                { 'mainPicture': mainPicture, 'secondaryPicture': secondaryPicture, 'frontPage': frontPage });
            });


            $('#fileInput').uploadify({
                'uploader': '../scripts/uploadify/uploadify.swf',
                'script': '../scripts/uploadify/Upload.ashx',
                'cancelImg': '../scripts/uploadify/cancel.png',
                'auto': true,
                'folder': '../scripts/uploadify/',
                'scriptData': { ASPSESSID: ASPSESSID, AUTHID: auth }
            });

        });
        // ]]>
    </script>
<!-- End File Upload Control -->

<br>
<br>
<input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Create New Property" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$Button1&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder1_Button1">