@{
    ViewBag.Title = "EditProperty";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

<div style="width: 100%;">
	<table cellspacing="0" align="Center" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="border-collapse:collapse; width: 100%;">
		<tbody><tr align="center" valign="middle" style="background-color:#CCCCCC;">
			<th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$edit')">Edit</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$delete')">Delete</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$id')">ID</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$city')">City</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$description')">Description</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$density')">Density</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$units')">Units</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$yearBuilt')">Year Built</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$adminNotes')">Admin Notes</a></th><th scope="col"><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Sort$notFinished')">Not Finished</a></th>
		</tr><tr align="center">
			<td><a href="Update.aspx?id=1">Edit</a></td><td><a href="javascript:DeleteProperty(1);">Delete</a></td><td>1</td><td>Lehi</td><td>Townhouse (with carport)</td><td>16.8</td><td>146</td><td>1990</td><td>&nbsp;</td><td>&nbsp;</td>
		</tr>
	</tbody></table>
</div>