@using UtahPlanners.MVC3.Models.Admin
@model ReadCodeModel
@{
    ViewBag.Title = "ReadCodes";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // TODO: Get modifying javascripty stuff to work
        });
    </script>
}

<span id="result"></span>

@using (Html.BeginForm("ReadCodes", "Admin", FormMethod.Post))
{
    @Html.DropDownListFor(m => m.SelectedCode, Model.CodeEnums)<br /><br />
    <input type="submit" value="Select Different Code" /><br /><br />

    <div>
	    <table cellspacing="0" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
		    <thead>
                <tr>
			    <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">Description</th>
                <th scope="col">Weight</th>
		        </tr>
            </thead>
            <tbody>
                @foreach (var code in Model.CodeData)
                { 
                    <tr>
			        <td><a href="#">Edit</a></td>
                    <td><a href="#">Delete</a></td>
                    <td>@code.Value.Item1</td>
                    <td>@code.Value.Item2</td>
		            </tr>
                }
	        </tbody>
        </table>
    </div>
}