@using UtahPlanners.MVC3.Models.Admin
@model ReadTypeModel
@{
    ViewBag.Title = "ReadTypes";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

@using (Html.BeginForm("ReadTypes", "Admin", FormMethod.Post))
{ 

    @Html.DropDownListFor(m => m.SelectedType, Model.TypeEnums)<br /><br />
    <input type="submit" value="Select Different Type" /><br /><br />
    
    <div>
	    <table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
		    <thead>
                <tr><th></th><th></th><th>Description</th></tr>
            </thead>
            <tbody>
                @foreach (var pair in Model.KeyValuePairs)
                { 
                    <tr>
			            <td><a href="#">Edit</a></td>
                        <td><a href="#">Delete</a></td>
                        <td>@pair.Value</td>
		            </tr>
                }
	        </tbody>
        </table>
    </div>
}
