@{
    ViewBag.Title = "ReadCodes";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}
    
    <select name="ctl00$ContentPlaceHolder1$DropDownList1" id="ctl00_ContentPlaceHolder1_DropDownList1">
	<option value="CommonCodes">CommonCodes</option>
	<option value="EnclosureCodes">EnclosureCodes</option>
	<option value="NeighborhoodCodes">NeighborhoodCodes</option>
	<option value="StreetconnCodes">StreetconnCodes</option>
	<option value="StreetSafteyCodes">StreetSafteyCodes</option>
	<option value="StreetwalkCodes">StreetwalkCodes</option>

</select><br><br>

    <input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Change Code Type" id="ctl00_ContentPlaceHolder1_Button1"><br><br>
    <div>
	<table cellspacing="0" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
		<tbody><tr>
			<th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">Description</th><th scope="col">Weight</th>
		</tr><tr>
			<td><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Edit$0')">Edit</a></td><td>
                    <a onclick="return confirm(&quot;Are you sure you want to delete this entry?&quot;);" id="ctl00_ContentPlaceHolder1_GridView1_ctl02_LinkButton1" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1$ctl02$LinkButton1','')">Delete</a>
                </td><td>Unknown</td><td>0</td>
		</tr><tr>
			<td><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Edit$1')">Edit</a></td><td>
                    <a onclick="return confirm(&quot;Are you sure you want to delete this entry?&quot;);" id="ctl00_ContentPlaceHolder1_GridView1_ctl03_LinkButton1" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1$ctl03$LinkButton1','')">Delete</a>
                </td><td>Excellent</td><td>15</td>
		</tr><tr>
			<td><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Edit$2')">Edit</a></td><td>
                    <a onclick="return confirm(&quot;Are you sure you want to delete this entry?&quot;);" id="ctl00_ContentPlaceHolder1_GridView1_ctl04_LinkButton1" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1$ctl04$LinkButton1','')">Delete</a>
                </td><td>Good</td><td>8</td>
		</tr><tr>
			<td><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Edit$3')">Edit</a></td><td>
                    <a onclick="return confirm(&quot;Are you sure you want to delete this entry?&quot;);" id="ctl00_ContentPlaceHolder1_GridView1_ctl05_LinkButton1" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1$ctl05$LinkButton1','')">Delete</a>
                </td><td>Fair</td><td>4</td>
		</tr><tr>
			<td><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Edit$4')">Edit</a></td><td>
                    <a onclick="return confirm(&quot;Are you sure you want to delete this entry?&quot;);" id="ctl00_ContentPlaceHolder1_GridView1_ctl06_LinkButton1" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1$ctl06$LinkButton1','')">Delete</a>
                </td><td>Poor</td><td>0</td>
		</tr>
	</tbody></table>
</div>