@{
    ViewBag.Title = "Weights";
    Layout = "~/Views/Shared/_LayoutNoLeftNav.cshtml";
}

    
    <h4>Edit these values to change the weighting of the scoring variables:</h4><br>
    <div>
	<table cellspacing="0" align="Center" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="border-collapse:collapse;">
		<tbody><tr align="center" valign="middle">
			<th scope="col">&nbsp;</th><th scope="col">Street Walkability</th><th scope="col">Walkscore</th><th scope="col">250 Single Fam.</th><th scope="col">Building Enclosure</th><th scope="col">Street Connectivity</th><th scope="col">Common Areas</th><th scope="col">Street Saftey</th><th scope="col">Neighborhood Cond</th><th scope="col">250 Apartments</th>
		</tr><tr align="center" valign="middle">
			<td><a href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$GridView1','Edit$0')">Edit</a></td><td>31</td><td>27</td><td>17</td><td>0</td><td>17</td><td>0</td><td>0</td><td>0</td><td>8</td>
		</tr>
	</tbody></table>
</div>
    <br>