@{
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<a href="#"><img class="resizeMainPicture" src="@Url.Content("/Content/images/test.jpg")" alt="Showcase Home" /></a>
<br /><br />
<p>Presented here are over 300 examples of properties throughout Salt Lake, Davis and Utah counties. For each property, aerial and ground photos are shown as well as certain qualitative factors.</p>
<p>Properties are searchable by factors such as age, density, number of units, size and others. A search may be performed with only one factor or with many factors combined.</p>